In [1]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('test').getOrCreate()

In [2]:
spark

In [3]:
!pip install polars

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: polars in c:\users\mujtaba jafri\appdata\roaming\python\python312\site-packages (0.20.13)

In [4]:
import polars as pl

In [6]:
df=pl.read_csv('bhp.csv')

In [8]:
df.head(2)

shape: (2, 9)
┌──────────────────────┬───────────────┬─────────────────────────┬───────────┬───┬────────────┬──────┬─────────┬───────┐
│ area_type            ┆ availability  ┆ location                ┆ size      ┆ … ┆ total_sqft ┆ bath ┆ balcony ┆ price │
│ ---                  ┆ ---           ┆ ---                     ┆ ---       ┆   ┆ ---        ┆ ---  ┆ ---     ┆ ---   │
│ str                  ┆ str           ┆ str                     ┆ str       ┆   ┆ str        ┆ i64  ┆ i64     ┆ f64   │
╞══════════════════════╪═══════════════╪═════════════════════════╪═══════════╪═══╪════════════╪══════╪═════════╪═══════╡
│ Super built-up  Area ┆ 19-Dec        ┆ Electronic City Phase   ┆ 2 BHK     ┆ … ┆ 1056       ┆ 2    ┆ 1       ┆ 39.07 │
│                      ┆               ┆ II                      ┆           ┆   ┆            ┆      ┆         ┆       │
│ Plot  Area           ┆ Ready To Move ┆ Chikka Tirupathi        ┆ 4 Bedroom ┆ … ┆ 2600       ┆ 5    ┆ 3       ┆ 120.0 │
└──────────────────────┴───────────────┴─────────────────────────┴───────────┴───┴────────────┴──────┴─────────┴───────┘

In [9]:
df.columns

['area_type',
 'availability',
 'location',
 'size',
 'society',
 'total_sqft',
 'bath',
 'balcony',
 'price']

In [11]:
df.select(pl.col('bath'))

df.select(pl.col(['bath','price']))

shape: (13_320, 2)
┌──────┬───────┐
│ bath ┆ price │
│ ---  ┆ ---   │
│ i64  ┆ f64   │
╞══════╪═══════╡
│ 2    ┆ 39.07 │
│ 5    ┆ 120.0 │
│ 2    ┆ 62.0  │
│ 3    ┆ 95.0  │
│ 2    ┆ 51.0  │
│ …    ┆ …     │
│ 4    ┆ 231.0 │
│ 5    ┆ 400.0 │
│ 2    ┆ 60.0  │
│ 4    ┆ 488.0 │
│ 1    ┆ 17.0  │
└──────┴───────┘

In [12]:
#select all columns
df.select(pl.col('*'))

shape: (13_320, 9)
┌──────────────────────┬───────────────┬─────────────────────────┬───────────┬───┬────────────┬──────┬─────────┬───────┐
│ area_type            ┆ availability  ┆ location                ┆ size      ┆ … ┆ total_sqft ┆ bath ┆ balcony ┆ price │
│ ---                  ┆ ---           ┆ ---                     ┆ ---       ┆   ┆ ---        ┆ ---  ┆ ---     ┆ ---   │
│ str                  ┆ str           ┆ str                     ┆ str       ┆   ┆ str        ┆ i64  ┆ i64     ┆ f64   │
╞══════════════════════╪═══════════════╪═════════════════════════╪═══════════╪═══╪════════════╪══════╪═════════╪═══════╡
│ Super built-up  Area ┆ 19-Dec        ┆ Electronic City Phase   ┆ 2 BHK     ┆ … ┆ 1056       ┆ 2    ┆ 1       ┆ 39.07 │
│                      ┆               ┆ II                      ┆           ┆   ┆            ┆      ┆         ┆       │
│ Plot  Area           ┆ Ready To Move ┆ Chikka Tirupathi        ┆ 4 Bedroom ┆ … ┆ 2600       ┆ 5    ┆ 3       ┆ 120.0 │
│ Built-up  Area       ┆ Ready To Move ┆ Uttarahalli             ┆ 3 BHK     ┆ … ┆ 1440       ┆ 2    ┆ 3       ┆ 62.0  │
│ Super built-up  Area ┆ Ready To Move ┆ Lingadheeranahalli      ┆ 3 BHK     ┆ … ┆ 1521       ┆ 3    ┆ 1       ┆ 95.0  │
│ Super built-up  Area ┆ Ready To Move ┆ Kothanur                ┆ 2 BHK     ┆ … ┆ 1200       ┆ 2    ┆ 1       ┆ 51.0  │
│ …                    ┆ …             ┆ …                       ┆ …         ┆ … ┆ …          ┆ …    ┆ …       ┆ …     │
│ Built-up  Area       ┆ Ready To Move ┆ Whitefield              ┆ 5 Bedroom ┆ … ┆ 3453       ┆ 4    ┆ 0       ┆ 231.0 │
│ Super built-up  Area ┆ Ready To Move ┆ Richards Town           ┆ 4 BHK     ┆ … ┆ 3600       ┆ 5    ┆ null    ┆ 400.0 │
│ Built-up  Area       ┆ Ready To Move ┆ Raja Rajeshwari Nagar   ┆ 2 BHK     ┆ … ┆ 1141       ┆ 2    ┆ 1       ┆ 60.0  │
│ Super built-up  Area ┆ 18-Jun        ┆ Padmanabhanagar         ┆ 4 BHK     ┆ … ┆ 4689       ┆ 4    ┆ 1       ┆ 488.0 │
│ Super built-up  Area ┆ Ready To Move ┆ Doddathoguru            ┆ 1 BHK     ┆ … ┆ 550        ┆ 1    ┆ 1       ┆ 17.0  │
└──────────────────────┴───────────────┴─────────────────────────┴───────────┴───┴────────────┴──────┴─────────┴───────┘

In [14]:
df.with_columns(
    (pl.col('price')+ pl.col('price')).alias('2Xsum')
)

shape: (13_320, 10)
┌──────────────────────┬───────────────┬──────────────────────────┬───────────┬───┬──────┬─────────┬───────┬───────┐
│ area_type            ┆ availability  ┆ location                 ┆ size      ┆ … ┆ bath ┆ balcony ┆ price ┆ 2Xsum │
│ ---                  ┆ ---           ┆ ---                      ┆ ---       ┆   ┆ ---  ┆ ---     ┆ ---   ┆ ---   │
│ str                  ┆ str           ┆ str                      ┆ str       ┆   ┆ i64  ┆ i64     ┆ f64   ┆ f64   │
╞══════════════════════╪═══════════════╪══════════════════════════╪═══════════╪═══╪══════╪═════════╪═══════╪═══════╡
│ Super built-up  Area ┆ 19-Dec        ┆ Electronic City Phase II ┆ 2 BHK     ┆ … ┆ 2    ┆ 1       ┆ 39.07 ┆ 78.14 │
│ Plot  Area           ┆ Ready To Move ┆ Chikka Tirupathi         ┆ 4 Bedroom ┆ … ┆ 5    ┆ 3       ┆ 120.0 ┆ 240.0 │
│ Built-up  Area       ┆ Ready To Move ┆ Uttarahalli              ┆ 3 BHK     ┆ … ┆ 2    ┆ 3       ┆ 62.0  ┆ 124.0 │
│ Super built-up  Area ┆ Ready To Move ┆ Lingadheeranahalli       ┆ 3 BHK     ┆ … ┆ 3    ┆ 1       ┆ 95.0  ┆ 190.0 │
│ Super built-up  Area ┆ Ready To Move ┆ Kothanur                 ┆ 2 BHK     ┆ … ┆ 2    ┆ 1       ┆ 51.0  ┆ 102.0 │
│ …                    ┆ …             ┆ …                        ┆ …         ┆ … ┆ …    ┆ …       ┆ …     ┆ …     │
│ Built-up  Area       ┆ Ready To Move ┆ Whitefield               ┆ 5 Bedroom ┆ … ┆ 4    ┆ 0       ┆ 231.0 ┆ 462.0 │
│ Super built-up  Area ┆ Ready To Move ┆ Richards Town            ┆ 4 BHK     ┆ … ┆ 5    ┆ null    ┆ 400.0 ┆ 800.0 │
│ Built-up  Area       ┆ Ready To Move ┆ Raja Rajeshwari Nagar    ┆ 2 BHK     ┆ … ┆ 2    ┆ 1       ┆ 60.0  ┆ 120.0 │
│ Super built-up  Area ┆ 18-Jun        ┆ Padmanabhanagar          ┆ 4 BHK     ┆ … ┆ 4    ┆ 1       ┆ 488.0 ┆ 976.0 │
│ Super built-up  Area ┆ Ready To Move ┆ Doddathoguru             ┆ 1 BHK     ┆ … ┆ 1    ┆ 1       ┆ 17.0  ┆ 34.0  │
└──────────────────────┴───────────────┴──────────────────────────┴───────────┴───┴──────┴─────────┴───────┴───────┘

In [15]:
df.filter(pl.col('bath')==3)

shape: (3_286, 9)
┌──────────────────────┬───────────────┬───────────────────────┬───────────┬───┬────────────┬──────┬─────────┬───────┐
│ area_type            ┆ availability  ┆ location              ┆ size      ┆ … ┆ total_sqft ┆ bath ┆ balcony ┆ price │
│ ---                  ┆ ---           ┆ ---                   ┆ ---       ┆   ┆ ---        ┆ ---  ┆ ---     ┆ ---   │
│ str                  ┆ str           ┆ str                   ┆ str       ┆   ┆ str        ┆ i64  ┆ i64     ┆ f64   │
╞══════════════════════╪═══════════════╪═══════════════════════╪═══════════╪═══╪════════════╪══════╪═════════╪═══════╡
│ Super built-up  Area ┆ Ready To Move ┆ Lingadheeranahalli    ┆ 3 BHK     ┆ … ┆ 1521       ┆ 3    ┆ 1       ┆ 95.0  │
│ Super built-up  Area ┆ Ready To Move ┆ Marathahalli          ┆ 3 BHK     ┆ … ┆ 1310       ┆ 3    ┆ 1       ┆ 63.25 │
│ Plot  Area           ┆ Ready To Move ┆ Sarjapur              ┆ 3 Bedroom ┆ … ┆ 2250       ┆ 3    ┆ 2       ┆ 148.0 │
│ Super built-up  Area ┆ Ready To Move ┆ Bisuvanahalli         ┆ 3 BHK     ┆ … ┆ 1180       ┆ 3    ┆ 2       ┆ 48.0  │
│ Super built-up  Area ┆ Ready To Move ┆ Raja Rajeshwari Nagar ┆ 3 BHK     ┆ … ┆ 1540       ┆ 3    ┆ 3       ┆ 60.0  │
│ …                    ┆ …             ┆ …                     ┆ …         ┆ … ┆ …          ┆ …    ┆ …       ┆ …     │
│ Super built-up  Area ┆ Ready To Move ┆ Kothanur              ┆ 3 BHK     ┆ … ┆ 1454       ┆ 3    ┆ 3       ┆ 71.5  │
│ Built-up  Area       ┆ Ready To Move ┆ Billekahalli          ┆ 3 BHK     ┆ … ┆ 1805       ┆ 3    ┆ 3       ┆ 134.0 │
│ Built-up  Area       ┆ Ready To Move ┆ Bannerghatta Road     ┆ 3 BHK     ┆ … ┆ 1527       ┆ 3    ┆ 1       ┆ 142.0 │
│ Super built-up  Area ┆ Ready To Move ┆ Yeshwanthpur          ┆ 3 BHK     ┆ … ┆ 1675       ┆ 3    ┆ null    ┆ 92.13 │
│ Super built-up  Area ┆ Ready To Move ┆ Green Glen Layout     ┆ 3 BHK     ┆ … ┆ 1715       ┆ 3    ┆ 3       ┆ 112.0 │
└──────────────────────┴───────────────┴───────────────────────┴───────────┴───┴────────────┴──────┴─────────┴───────┘